.lead__caption {
  font-size: 10px;
  line-height: 2.5;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .lead__caption {
    margin-left: 16px;
    line-height: 2.3;
  }
}