.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 580px) {
  .nav__list {
    flex-direction: column;
    align-items: start;
  }
}